{% extends "layout.html" %}

{% block title %}tweet{% endblock %}
{% block content %}
<h1 class='text-center mt-3'>welcome to soch- A Discussion Forum</h1>

<h2>
    {% if form.instance.pk %}
        Edit Tweet
    {% else %}
        Create Tweet
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button class='btn btn-warning' type='submit'>Submit</button>
    </form>
</h2>

<a href="{% url "tweet_list" %}">Back to home</a>

{% endblock %}